<h2> Welcome to the company portal </h2>


<!-- <company></company>
<copyright></copyright> -->


<!-- <router-outlet></router-outlet>
<company></company> -->

<a routerLink="/departments" routerLinkActive="active" style="background:url()">List Departments</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/create" routerLinkActive="active"style="background:url()">Create department</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/events" routerLinkActive="active"style="background:url()">Verify Events</a>

<router-outlet></router-outlet>

<!-- <copyright></copyright> -->