<div class="row">
    <form class="col s6" #deptCreationForm='ngForm' (ngSubmit)=" createDepartment() ">
      <div class="row">
        <div class="input-field col s6">
          <input id="dept_id" type="text" class="validate" [(ngModel)]="dept.id" name ="dept_id">
          <label for="dept_id">Department id</label>
        </div>
      </div>   <div class="row">
        <div class="input-field col s6">
          <input id="dept_name" type="text" class="validate" [(ngModel)]="dept.title" name ="dept_name">
          <label for="dept_name">Department Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="dept_desc" type="text" class="validate" [(ngModel)]="dept.describe" name="dept_desc">
          <label for="dept_desc">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input id="dept_loc" type="text" class="validate" [(ngModel)]="dept.location" name="dept_loc">
          <label for="dept_loc">Location</label>
        </div>
      </div>

      <div class="row">
        <div>
          <button type="submit" class="btn btn-primary">Create Department</button>
        </div>
      </div>
     </form>
  </div>
  Dept creation from values: {{deptCreationForm.value | json}}